Repository 3liz/py-qgis-wps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:ltr, test:release, build

test:ltr:
  stage: test
  script:
  - make docker-test FLAVOR=$QGIS_FLAVOR
  tags:
  - infrav3
  artifacts:
    reports:
      junit: tests/unittests/__output__/junit.xml
  variables:
    QGIS_FLAVOR: ltr

test:release:
  stage: test
  script:
  - make docker-test FLAVOR=$QGIS_FLAVOR
  tags:
  - infrav3
  artifacts:
    reports:
      junit: tests/unittests/__output__/junit.xml
  variables:
    QGIS_FLAVOR: release

build:
  stage: build
  script:
  - make dist deliver
  environment:
    name: snap
  tags:
  - infrav3

Update README
  README.md
Due: none

Fix typo
  README.md
Due: none

Fix command line argument config override
  pyqgiswps/wpsserver.py
Due: test:ltr, test:release, build

CI: fix changes rules in gitlab ci
  docker/.gitlab-ci.yml
Due: none

Fix plugin path
  pyqgiswps/utils/plugins.py
Due: test:ltr, test:release, build

Pass pytests options to async tests
  tests/docker-compose.yml
  tests/unittests/processing/test_executor.py
Due: test:ltr, test:release

Remove unecessary timeout handling
  pyqgiswps/executors/processingexecutor.py
  pyqgiswps/poolserver/client.py
  tests/unittests/conftest.py
Due: test:ltr, test:release, build

Prevent pickling lxml.etree._Element an async
  .gitignore
  pyqgiswps/app/WPSResponse.py
  pyqgiswps/executors/processingexecutor.py
  pyqgiswps/poolserver/client.py
Due: test:ltr, test:release, build

Use pyqgisservercontrib namespace
  docker/Dockerfile.pypi
  docker/Makefile
  pyqgisservercontrib/core/__init__.py
  pyqgisservercontrib/core/componentmanager.py
  pyqgisservercontrib/core/filters.py
  pyqgisservercontrib/core/watchfiles.py
  pyqgiswps/config.py
  pyqgiswps/executors/processfactory.py
  pyqgiswps/runtime.py
  pyqgiswps/tests.py
  pyqgiswps/wpsserver.py
  setup.py
  tests/unittests/processing/test_accesspolicy.py
Due: test:ltr, test:release, build

Add layer list as allowed_values for 'multilayer' input
  pyqgiswps/executors/processingio.py
  tests/unittests/algorithms/TestAlgorithmProvider.py
  tests/unittests/algorithms/TestInputMultiLayer.py
  tests/unittests/processing/test_context.py
Due: test:ltr, test:release, build

Handle file input parameter
  pyqgiswps/app/Service.py
  pyqgiswps/config.py
  pyqgiswps/executors/processingio.py
  pyqgiswps/inout/inputs.py
  pyqgiswps/runtime.py
  tests/unittests/processing/test_inputs.py
  tests/unittests/test_config.py
Due: test:ltr, test:release, build

Add parameter point support
  pyqgiswps/executors/processingio.py
  pyqgiswps/inout/formats.py
  pyqgiswps/version.py
  tests/unittests/processing/test_inputs.py
Due: test:ltr, test:release, build

Fix exception handling in _polling routine
  Makefile
  pyqgiswps/executors/processingcontext.py
  pyqgiswps/executors/processingprocess.py
  pyqgiswps/poolserver/client.py
  tests/client/tests/conftest.py
  tests/client/tests/pytest.ini
  tests/clienttests/client_utils.py
  tests/clienttests/conftest.py
  tests/clienttests/data/.keepme
  tests/clienttests/pytest.ini
  tests/clienttests/test_base.py
  tests/clienttests/test_wps.py
  tests/unittests/algorithms/TestAlgorithmProvider.py
  tests/unittests/algorithms/TestMapContext.py
Due: test:ltr, test:release, build

Refactorize cachemanager
  pyqgiswps/executors/processingcontext.py
  pyqgiswps/executors/processingexecutor.py
  pyqgiswps/qgscache/__init__.py
  pyqgiswps/qgscache/cachemanager.py
  pyqgiswps/qgscache/handlers/__init__.py
  pyqgiswps/qgscache/handlers/file_handler.py
  tests/clienttests/pytest.ini
  tests/clienttests/test_wps.py
Due: test:ltr, test:release, build

Parametrize default map scheme
  pyqgiswps/config.py
  pyqgiswps/qgscache/cachemanager.py
Due: test:ltr, test:release, build

CI: test and build for qgis 3.4
  .gitlab-ci.yml
  docker/.gitlab-ci.yml
  pyqgiswps/app/Service.py
  tests/clienttests/test_wps.py
Due: test:ltr, test:release, build

CI: Remove job restrictions on tests
  .gitlab-ci.yml
  pyqgiswps/version.py
Due: test:ltr, test:release, build

Remove lizmap-api
  docker/Dockerfile.pypi
Due: none

Breaking change: change signature in config service
  pyqgiswps/config.py
Due: test:ltr, test:release, build

Support input file as reference
  pyqgiswps/app/Service.py
  pyqgiswps/app/WPSRequest.py
  pyqgiswps/config.py
  pyqgiswps/executors/processingio.py
  pyqgiswps/handlers/basehandler.py
  pyqgiswps/inout/basic.py
  pyqgiswps/inout/httpclient.py
  pyqgiswps/inout/inputs.py
  pyqgiswps/inout/outputs.py
  pyqgiswps/inout/storage.py
  pyqgiswps/poolserver/worker.py
  pyqgiswps/runtime.py
  tests/unittests/algorithms/TestAlgorithmProvider.py
  tests/unittests/algorithms/TestInputFile.py
  tests/unittests/processing/test_inputs.py
  tests/unittests/test_inout.py
Due: test:ltr, test:release, build

Configure 'outputfile as reference' status
  pyqgiswps/app/WPSResponse.py
  pyqgiswps/config.py
  pyqgiswps/executors/processfactory.py
  pyqgiswps/executors/processingio.py
  pyqgiswps/executors/processingprocess.py
  tests/unittests/processing/test_inputs.py
Due: test:ltr, test:release, build

Use '3liz' as default registry url
  docker/Makefile
  tests/Makefile
Due: test:ltr, test:release

Add wps run script
  runwps.sh
Due: test:ltr, test:release

Fix undefined variable in pool client
  Makefile
  pyqgiswps/poolserver/client.py
  runwps.sh
Due: test:ltr, test:release, build

CI: run tests sequentially
  .gitlab-ci.yml
  pyqgiswps/utils/plugins.py
Due: test:ltr, test:release, build

Add postgres support for Qgis projects
  pyqgisservercontrib/core/componentmanager.py
  pyqgiswps/config.py
  pyqgiswps/executors/processingcontext.py
  pyqgiswps/executors/processingio.py
  pyqgiswps/qgscache/cachemanager.py
  pyqgiswps/qgscache/handlers/__init__.py
  pyqgiswps/qgscache/handlers/file_handler.py
  pyqgiswps/qgscache/handlers/postgres_handler.py
Due: test:ltr, test:release, build

Fix missing assignation for store_url
  pyqgiswps/app/WPSResponse.py
  tests/unittests/algorithms/TestFileDestination.py
  tests/unittests/processing/test_fileio.py
Due: test:ltr, test:release, build

Fix bad interpolation variable in config value
  pyqgiswps/config.py
Due: test:ltr, test:release, build

Release docker image on tags only
  .gitlab-ci.yml
  Makefile
  docker/.gitlab-ci.yml
Due: test:ltr, test:release

Bumb revision 1.3.3
  docker/.gitlab-ci.yml
  pyqgiswps/version.py
Due: test:ltr, test:release, build

Apply characters substitution for env variables
  pyqgiswps/config.py
Due: test:ltr, test:release, build

Print commit number at startup
  MANIFEST.in
  Makefile
  docker/Dockerfile
  docker/Dockerfile.pypi
  docker/Makefile
  pyqgiswps/runtime.py
  pyqgiswps/wpsserver.py
Due: test:ltr, test:release, build

CI: set release_tag to qgis branch version
  docker/.gitlab-ci.yml
  docker/Makefile
Due: none

update readme
  .gitignore
  README.md
Due: none

Use confservice; remove legacy calls
  .gitlab-ci.yml
  pyqgiswps/accesspolicy.py
  pyqgiswps/app/WPSRequest.py
  pyqgiswps/config.py
  pyqgiswps/executors/logstore.py
  pyqgiswps/executors/processfactory.py
  pyqgiswps/executors/processingprocess.py
  pyqgiswps/logger.py
  pyqgiswps/wpsserver.py
Due: test:ltr, test:release, build

Use alpine version for redis image in docker-compose
  docker/docker-compose.yml
  tests/docker-compose.yml
Due: test:ltr, test:release

Bump revision 1.3.4
  Makefile
  docker/.gitlab-ci.yml
  docker/Makefile
  pyqgiswps/version.py
  pyqgiswps/wpsserver.py
  setup.py
Due: test:ltr, test:release, build

Read version from manifest
  pyqgiswps/version.py
  setup.py
Due: test:ltr, test:release, build

Reorganize processing io modules
  pyqgiswps/executors/io/filesio.py
  pyqgiswps/executors/io/layersio.py
  pyqgiswps/executors/processingio.py
  tests/unittests/processing/test_algorithms.py
  tests/unittests/processing/test_context.py
  tests/unittests/processing/test_inputs.py
Due: test:ltr, test:release, build

CI: Disable docker build
  .gitlab-ci.yml
Due: none

Path conditions:
  test:ltr: any of: pyqgiswps/**/*, tests/**/*, *.sh, Makefile, setup.*, requirements.*
  test:release: any of: pyqgiswps/**/*, tests/**/*, *.sh, Makefile, setup.*, requirements.*
  build: any of: pyqgiswps/**/*, setup.*, requirements.txt, MANIFEST.in
